# Configuration file

general {
    # Boolean: false
    B:DestroyUnder=true

    # Boolean: true
    B:DropGather=true

    # Integer: 0
    # 0:not decrease durability 1,2:decrease durability(1=until whole blocks 2=until break an item)
    I:Durability=0

    # String: "KEY_C"
    S:Key=KEY_C

    # Integer: 0
    I:Limiter=0

    # Boolean: true
    B:StartMode=true

    # Boolean: false
    B:UseWorldAccessImplement=false

    # String: "log, brown_mushroom_block, red_mushroom_block, log2"
    S:blockIds=log, brown_mushroom_block, red_mushroom_block, log2, 0169, 0471, 0229/0, 0229/1, 0229/2, 0229/3, 0245/0, 0245/1, 0245/2, 0245/3

    # String: "mod_CutAll"
    S:channelName=mod_CutAll

    # String: "iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe"
    S:itemIds=iron_axe, wooden_axe, stone_axe, diamond_axe, golden_axe

    # String: ""
    S:leavesIds=leaves, leaves2, 0176, 0472, 0231/0, 0231/1, 0231/2, 0231/3, 0246/0, 0246/1, 0246/2, 0246/3, 0412/0, 0412/1, 0414

    # Integer: 3
    I:leavesRange=5

    # String: ""
    S:nondestructiveItemIDs=
}


